<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/contact.css">
</head>

<body>
    <header class='main-header'>
        <nav class="main-header-nav">
            <ul class="main-header__itemsList">
                <li class="main-header__items"><a href="/">home</li>
                <li class="main-header__items"><a href="/admin/addproduct">AddProduct</a></li>
                <li class="main-header__items"><a href="/contact/Contact">Contact US</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form  class="product-form"action="/contact/success" method="POST">
            <div class="form-control">
                <label for="title">Name</label>
                <input type="text" name="title" id="title">
                <label for="title">Email</label>
                <input type="email" name="mail" id="mail">
            </div>
           
            <button type="submit">Add Product</button>
        </form>
    </main>
</body>

</html>